# If we get the exception "Cannot deactivate Master Data Domain while there are running tasks on its Data Center."
# We should wait for some time and try again
- name: Remove storage domain
  ovirt_storage_domains:
      state: absent
      id: "{{ storage.id }}"
      name: "{{ storage.name }}"
      auth: "{{ ovirt_auth }}"
      host: "{{ host }}"
      destroy: "{{ dr_force }}"
      data_center: "{{ sp_uuid }}"
